---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  kubeletExtraArgs:
    node-ip: {{ private_ip }}
localAPIEndpoint:
  advertiseAddress: {{ private_ip }}
  bindPort: {{ kube_apiserver_port }}
certificateKey: {{ kubeadm_certificate_key | default('') }}

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ kube_version }}
controlPlaneEndpoint: {{ control_plane_endpoint }}
networking:
  podSubnet: {{ kube_pod_network_cidr }}
  serviceSubnet: {{ kube_service_addresses }}
apiServer:
  extraArgs:
    advertise-address: {{ private_ip }}
  certSANs:
    - "{{ ansible_hostname }}"
    - "{{ private_ip }}"
    - "{{ keepalived_vip }}"
    {% for san in kube_cert_extra_sans %}
    - "{{ san }}"
    {% endfor %}
controllerManager:
  extraArgs:
    bind-address: 0.0.0.0
scheduler:
  extraArgs:
    bind-address: 0.0.0.0
etcd:
  external:
    endpoints:
      {% for host in groups['masters'] %}
      - https://{{ hostvars[host].private_ip }}:2379
      {% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
