global:
  resolve_timeout: 5m

route:
  receiver: 'webhook-site'
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  routes:
  - match:
      severity: 'critical'
    receiver: 'webhook-site'
    repeat_interval: 1h
  - match:
      severity: 'warning'
    receiver: 'webhook-site'
    repeat_interval: 4h

receivers:
- name: 'webhook-site'
  webhook_configs:
  - url: 'https://webhook.site/bcb4423b-78fc-45e1-93c4-7c3e13e341f0'
    send_resolved: true
    http_config:
      # basic_auth:
      #   username: ''
      #   password: ''
    max_alerts: 10
